//===============
// Colors
//===============
$page-color: #ffffff;
$border-color: #d4d9e3;
$accent-color: #5584ff;
$contrast-color: #f83c52;
$menu-color: #0e1a35;
$text-faded-color: #8492af;
$text-color: #0d172e;
$icon-color: #1c45b7;
$box-background-color: #fff;

$success-color: #5FC83C;
$danger-color: $contrast-color;


//===============
// Paths
//===============
$icon: '../img/icons/';
//===============
// Includes
//===============
// Abstractions
@import 'abstractions/breakpoints';
// Base
@import 'base/base';
@import 'base/helpers';
@import 'base/page';

//@charset 'UTF-8';

// Color
@import 'components/color-variables';
@import 'components/color-classes';

// Variables;
@import 'components/variables';

// Reset
@import 'components/normalize';

// components
@import 'components/global';
@import 'components/preloader';
@import 'components/typography';

// Import font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');