{% extends 'base.html.twig' %}

{% block content %}
	<div id="leftSide">
		<div id= ""></div>
		<div id= "menu"></div>
	</div>

	<div id="rightSide">
		<div id="header"></div>
		<div id="root"></div>
	</div>
	
	<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}