// Screen size breakpoints

// Min width;
$mobile:		"min-width: 0px"	;
$narrow:		"min-width: 641px"	;
$medium:		"min-width: 1201px"	;
$large:			"min-width: 1601px"	;
// Max width
$mobile-max: 	"max-width: 400px"	;
$narrow-max:	"max-width: 768px"	;
$medium-max:	"max-width: 1200px"	;
$large-max:		"max-width: 1600px"	;