.input-form {
  max-width: 600px;
  h2 {
    margin-bottom: 20px;
  }
  label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    color: $text-color;
    margin-bottom: 10px;
    line-height: 29px;
  }
  input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-height: 37px;
  }
  .small.subtitle {
    position: relative;
    top: -5px;
  }
  &.wide {
    max-width: none;
  }
}

.whole-screen-form {
  max-width: 100%;
  h2 {
    margin-bottom: 20px;
  }
  label {
    font-size: 13px;
    font-weight: 600;
    display: block;
    color: $text-color;
    margin-bottom: 10px;
    line-height: 29px;
  }
  input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .small.subtitle {
    position: relative;
    top: -5px;
  }
  .DayPickerInput-Overlay { 
    left: 120px;
  }
}

textarea {
  font-family: inherit;
  font-7ize: inherit;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  resize: vertical;
  height: 120px;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
}

.params-form {
   input, textarea {
      width: 100% !important;
      margin-right: 15px;
   }
}

.save-button {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

input[type="text"], input[type="password"], textarea, select {
  &.danger {
    color: inherit;
    border-color: $danger-color;
  };
  &.success {
    color: inherit;
    border-color: $success-color;
  }
}

select.danger option { color: initial }

.required {
  label::after { content:" *"; color: $danger-color }
}

.notRequired::after { content: none !important; }