{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
  <section id="PageNotFound" class="centered">
  	<span class="subtitle">Codi 404</span>
    <h1 class="large thin accent">Pàgina no trobada</h1>
    <div class="circle_icon incidencia"></div>
    <p>La solicitada no existe. Si crees que se tracta de un error de la aplicación, puedes contactar con <a href="mailto:gabrielalcantara.93@gmail.com">Administración</a>.</p>
    <p><a href="/">Volver al inicio</a></p>
  </section>
{% endblock %}